/.idea

vendor

!web/
web/*
!web/wp-content/
web/wp-content/*
!web/wp-content/themes/
web/wp-content/themes/*
!web/wp-content/themes/dyepop/

!web/wp-content/plugins/
web/wp-content/plugins/*
!web/wp-content/plugins/dyepop

!web/wp-config.php
